# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/

# Ignore environment variable files
.env

# Ignore playground.py
playground.py

# Other files and directories to ignore
.DS_Store